[class*="col-"] {
  text-align: center;
  margin: auto;
  line-height: 200px;
  height: 100%;
  padding: 5px ;
  border: 1px solid black;
}

.col-6 > .container > [class*="col-"] {
  background: lightcoral;
  border:  1px solid white;
}
